*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Headline {
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #EFEFF0;
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    
    
    .HeadlineClick{
        color: #666666;
        text-decoration: none;
        box-sizing: border-box;
        margin: 1.5rem;     
    }
}
.FirstNavi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    

    .Category{
        color: #1a1a1a;
        font-size: 1.2rem;
        font-family:fantasy;
        text-decoration: none;
        margin-left: 25px;
        margin: .6rem;
        padding: .4rem;
        
        
    }
    .logo{
        width: 150px;
        position: static;       
        margin-right: 17rem;

    }
    .user{
        
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: flex-end;
        position: static;
  
    }

    
}
