*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Headline {
    border:2px dashed red;
    height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #EFEFF0;
    color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .HeadlineClick{
        border: 2px dashed blue;
        color: #666666;
        text-decoration: none;
        margin: 1rem;
        box-sizing: border-box;     
    }
}
.FirstNavi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    

    .Category{
        color: #1a1a1a;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        margin:1rem;
    }
    .logo{
        width: 120px;
        height: 24px;
        right: 5rem;

    }
    .user{
        height: 5rem;
        width: 5rem;
        display: flex;
        align-items: center;
        input {
            display: none;
        }

        ol {
            z-index: -1;
            position: absolute;
            top: -100vh;
            transition: .5s;
            display: flex;
            flex-direction: column;
            right: -2rem;
            padding: 20px 10px;
            list-style: none;
            width: 100vw;
        }
        #user:checked ~{
            ol{
                top:100%;

            }
    }

    
}
